<div class="container">
  <div class="row">
    <div>
      <button class="button flex" onclick="showDiv()">
        <i class="fa fa-chevron-circle-down fa-5x" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
<div class="container" id="displayFooter" style="display:none;">
  <div class="row social">
    <div class="col-sm-2 border">
      <a href="">
        <i class="fa fa-user-circle fa-5x flex" aria-hidden="true"></i>
      </a>
      <h4 class="flex">Leader Board</h4>
    </div>
    <div class="col-sm-2 border">
      <a href="">
        <i class="fa fa-github-alt fa-5x flex" aria-hidden="true"></i>
      </a>
      <h4 class="flex">Github Source</h4>
    </div>
    <div class="col-sm-2 border">
      <a href="">
        <i class="fa fa-globe fa-5x flex" aria-hidden="true"></i>
      </a>
      <h4 class="flex">World Wildlife</h4>
    </div>
    <div class="col-sm-2 border">
      <a href="" target="_blank">
        <i class="fa fa-facebook-square fa-5x flex" aria-hidden="true"></i>
      </a>
      <h4 class="flex">Facebook</h4>
    </div>
    <div class="col-sm-4">
      <h3>Did we miss your favorite animal?</h3>
      <h5>Leave your comments and/or suggestions below  <i class="fa fa-arrow-down" aria-hidden="true"></i></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 image-bg"></div>
    <div class="col-sm-4 title-bg">
      <h1 class="flex">Title here!</h1>
      <h3 class="flex">Will you make the world a better place?</h3>
      <h5 class="flex">Logo here </h5>
    </div>
    <div class="col-sm-4 form-bg">
      <iframe height="440"
              allowTransparency="true"
              frameborder="0"
              scrolling="no"
              style="width:100%;border:none"
              src="https://pandaoflove.wufoo.com/embed/z13z60960jsfz79/">
        <a href="https://pandaoflove.wufoo.com/forms/z13z60960jsfz79/">Fill out my Wufoo form!</a>
      </iframe>
     </div>
   </div>
</div>
