@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu:400,700');
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #c9f6ff;
}
.image-bg {
  border: 5px solid #F75B00;
  height: 350px;
  background-image: url(https://images.unsplash.com/photo-1481399319277-1289301d7c31?auto=format&fit=crop&w=800&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  background-size: cover;
}

.title-bg {
  border: 5px solid #F75B00;
  height: 350px;
  background-color: #fff;
  font-family: 'Ubuntu', sans-serif;

}
.form-bg {
  border: 5px solid #F75B00;
  height: 350px;
  background-color: #fff;
  font-family: 'Ubuntu', sans-serif;

}
.social {
  background-color: #F75B00;
  height: 150px;
  margin-top: 15px;
  padding-top: 15px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}
.border {
    height: 100px;
}
/*.fa-arrow-circle-down:hover{
  color: #FBD43B;
}*/
.flex {
  display: flex;
  justify-content: center;
}
.button {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}
.button:active {
  color: #FBD43B;
  box-shadow: 0 2px grey;
}
.hovereffect:hover{
  cursor: pointer;
}

.btn-group-lg>.btn, .btn-lg {
  background-color: #FFCC00 ;
}
