.container{
  display: grid;
}

.map {
  height: 100vh;
  width: 100vw;
  justify-items: center;
  
}

.land:hover {
  fill: #FBD43B;
  stroke: #fff !important;
  stroke-width: 2 !important;
}

.land:active {
  fill: #F7931E;
}


.land {
  fill: #8CC63F;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.1;
}

/* #asia {
  fill: red;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.1;
} 

#europe {
  fill: orange;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.1;
} 

#australia {
  fill: pink;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.1;
}  

#south_america {
  fill: yellow;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.1;
} 

#africa {
  fill: green;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.1;
} 

#north_america {
  fill: blue;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width: 1;
}  */

