.container{
  display: grid;
}

.map {
  height: 100vh;
  width: 100vw;
}

.land:hover {
  fill: #FBD43B;
  stroke: #fff !important;
  stroke-width: 2 !important;
}



.land {
  fill: #8CC63F;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.1;
}



