
<router-outlet></router-outlet>
<!-- <a href="login"><button class="btn btn-lg special">Login Here!</button></a> -->


<!-- <card header="my header" footer="my footer"> -->
    <!-- Dynamic Content here -->
    <!-- <div class="card-block">
        <h4 class="card-title"> You can put any content here</h4>
        <p class="card-text">For example this line of text and </p>
        <a href="#" class="btn btn-primary">This button</a>
    </div> -->
    <!-- End of dynamic content -->
<!-- </card> -->

<!--The content below is only a placeholder and can be replaced.-->


<div style="text-align:center" class="home">
  <img src="../assets/specieshop.png" class="logo">
</div>
<app-map></app-map>
<!-- <div id="chartdiv"></div> -->
<app-footer></app-footer>
