<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand">Save the Planet</a>
  </nav>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Get Involved</h1>
<!-- <img src="http://68.media.tumblr.com/2ec020599d8a12f2c6aa9f4243e958b5/tumblr_nrug77G2nR1st9i6lo1_1280.jpg" alt="map">  -->
      <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
      <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
      <script src="https://www.amcharts.com/lib/3/themes/none.js"></script>
      <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
      <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
      <div id="chartdiv"></div>
    </div>
  </div>
</div>
