<div class="modal-dialog font text-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="close()">&times;</button>
        <h4 class="modal-title title text-center green-logo-color logo-text">
          Species
          <span class="red-logo-color">Hop</span>
        </h4>
      </div>
      <!-- marisol edit -->
      <div class="modal-body">
       <h1>Check Out Our Awesome Sources</h1>
      <a href="http://animalfactguide.com/">Animal Fact Guide</a>
      <a href="http://awf.org//">African Wildlife Founadtion</a>
      <a href="http://en.wikipedia.org/wiki/Endangered_species">List of Endangered Species</a>
      <a href="http://animalfactguide.com/"></a>
      <a href="http://akids.nationalgeographic.com/">National Geographic</a>
      <a href="http://seaworld.org/">Seaworld</a>
      <a href="http://worldwildlife.org/">World Wildlife Foundation</a>
      <h4>Royality Free Images from"</h4>
      <a href="http://shutterstock.com/">Shutterstock</a>
      <a href="http://unsplash.com/">Unsplash</a>
       
      </div>
  </div>
</div>
  