<div class="modal-dialog font text-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <!-- <h4 class="modal-title title"> SpeciesHop  </h4> -->
      <h4 class="modal-title title text-center green-logo-color logo-text">
        Species
        <span class="red-logo-color">Hop</span>
      </h4>
    </div>
    <div class="modal-body">
      <h1>Check out our awesome sources!</h1>
      <a href="http://animalfactguide.com/" target="blank"><p>Animal Fact Guide</p></a>
      <a href="http://awf.org/" target="blank"><p>African Wildlife Foundation</p></a>
      <a href="http://en.wikipedia.org/wiki/Endangered_species" target="blank"><p>List of Endangered Species</p></a>
      <a href="http://en.wikipedia.org/wiki/World_Wide_Fund_for_Nature" target="blank"><p>World-Wild Fund For Nature </p></a>
      <a src="http://kids.nationalgeographic.com/" target="blank"><p>National Geographic</p></a>
      <a src="http://worldwildlife.org" target="blank"><p>World Wildlife Foundation</p></a>
      <h4>Royality Free Images from: </h4>
      <a src="http://shutterstock.com/" target="blank"><p>Shutterstock</p></a>
      <a src="http://unsplash.com/" target="blank"><p>Unsplash</p></a>
    </div>
</div>
</div>
