<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">   </h4>
      </div>
    <div class="modal-body">
      <h1>{{continent}}</h1>
      <h2>{{animal.continent}}</h2>
      <h1>Is this where I belong??</h1>
        <!-- <h1>{{animal.name}}</h1> -->
        <h1>{{animal.name}}</h1>
        <img src="../../assets/animals/{{animal.imageUrl}}" alt="">
      <p>
        Click on the correct answer:
      </p>
      <button (click)="confirmYes()"> Yes </button>
      <button (click)="confirmNo()"> No </button>
      <!-- <form 
      [formGroup]="form"
      (ngSubmit)="onSubmit(form.value)">

          <label for="name">Username: </label>
          <input type="email" id="email" required class="form-control"       
           name="name"
          formControlName="email">
          <label for="password">Password: </label>
          <input type="password" id="password" required class="form-control"       
           name="password"
          formControlName="password">
        <br>
        <button class="centered" type="submit" class="btn btn-success">Login</button>
</form> -->
</div>
<!-- <button class="btn btn-default right" (click)="register()">Register Here</button> -->
</div>
</div>
