<div class="modal-dialog font text-center smaller">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <!-- <h4 class="modal-title title"> SpeciesHop  </h4> -->
      <h4 class="modal-title title text-center green-logo-color logo-text">
        Species
        <span class="red-logo-color">Hop</span>
      </h4>
    </div>
    <div class="modal-body">
      <h1>{{continent}}</h1>
      <h1 class="popuptext">Is this where I belong?</h1>
        <!-- <h1>{{animal.name}}</h1> -->
      <h1>{{animal.name}}</h1>
      <img class="img-border" src="../../assets/animals/{{animal.imageUrl}}" alt="">
      <p>
        Click on the correct answer:
      </p>
      <button class="button-style spacing" (click)="confirmYes()"> Yes </button>
      <button class="button-style spacing" (click)="confirmNo()"> No </button>
      <!-- ADDITIONAL INFORMATION -->

      <div id="hiding">
        <h4>Congrats! You are Correct!</h4>
          <p class="green-logo-color modal-text-size">Continent: <span class="red-logo-color">{{animal.continent}}</span> </p>
          <p class="green-logo-color  modal-text-size">Status: <span class="red-logo-color">{{animal.status}}</span></p>
          <p class="green-logo-color  modal-text-size">Population: <span class="red-logo-color">{{animal.population}}</span></p>
          <p class="green-logo-color  modal-text-size">Fact One: <span class="black-text">{{animal.facts.factOne}}</span></p>
          <p class="green-logo-color  modal-text-size">Fact Two: <span class="black-text">{{animal.facts.factTwo}}</span></p>
          <p class="green-logo-color modal-text-size">Fact Three: <span class="black-text">{{animal.facts.factThree}}</span></p>
          <button class="button-style spacing orange" (click)="close()"> Play Again! </button>
      </div>  
    </div>
  </div>
